body {
    text-align: center;
    font-family: 'Open Sans', monospace;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-image: url('../img/hero.jpg');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 20px;
}

nav a {
    width: 15%;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 94px;
    vertical-align: top;
    padding: 0;
    font-weight: 600;
    margin: 0;
}

nav p {
    display: inline-block;
    line-height: 94px;
    vertical-align: top;
    margin: 0;
}

.full-lenght {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.one{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 66%;
    display: inline-block;
    max-height: 100%;
}
div.one img{
   height:100%;
    margin: 0;
    width: 100%;
}
img.main-style{
    margin-top: 5%;
}

h1.main-style {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 5%;
}

p.main-style {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #999;
    margin-bottom: 5%;
}
.two-thirds{
    position: relative;
}
.two-thirds img.main{
    width: 100%;
}
.img-logo{
    position: absolute;
    width: 15%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.two-thirds{
    width: 66.666%;
    display: inline-block;
    margin: 0;
    font-size: 0;
  
}
.third .line{
    width: 10%;
    border-bottom: 1px solid #999;
    margin: 5% auto;
    
}
.third{
    width: 33.333%;
    display: inline-block;
    margin: 0;
    font-size: 0;
    position: relative;
}

